* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background-color: rgb(207, 207, 207);
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  margin-top: 30px;
  color: whitesmoke;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.add-task {
  background-color: rgb(254, 145, 163);
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 3em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.559);
}
.add-task input {
  border-radius: 5px;
}
.add-task #addBtn {
  margin-top: 5px;
  padding: 3px;
  border: 1px solid black;
  background-color: rgb(110, 227, 110);
  border-radius: 10px;
}

.tasks {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: left;
}
.tasks li {
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  border: 1px black solid;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  width: 20em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.559);
}
.tasks li:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  width: 20.1em;
  transition: all 0.4s;
}
.tasks li img {
  width: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  background-color: rgb(253, 243, 232);
}